@page
@model DentalOffice.Pages.DentistAvailables.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DentistAvailable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DentistAvailable.fromDatetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DentistAvailable.fromDatetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DentistAvailable.toDatetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DentistAvailable.toDatetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DentistAvailable.Dentist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DentistAvailable.Dentist.dentistID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DentistAvailable.dentistavailableID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
